<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">People</div>
  <div class="panel-body">
    {{person-data person=model.person updatePerson="updatePerson"}}
  </div>
</div>
